@import "../css/styled.css";


.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: url("../../assets/bg.jpg");
    background-size: cover;
}
.mainContent{
  margin: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
  grid-column: 1fr 1fr 1fr;
  grid-template-areas:" p p p "
                      " . . . "
                      " . . buttonCont";
  height: 90%;
}
.mainContent p{
  grid-area: p;
}

.invite{
    width: 50vw;
    height: 70vh;
    font-size: 1rem;
    background-color: var(--main-bg-nav-color);
    border-radius: 12px;
    animation: neon 3s linear infinite;
}
.continuarButton button{

  background: none;
  appearance: none;
  box-shadow: none;
  border: none;
}
.continuarButton {
  grid-area: buttonCont;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 120px;
  border-radius: 6px;
  background: #ffffff67;
  display: grid;
  text-decoration: none;
  place-items: center;
}
@media (width < 768px) {
  .invite{
    width: 90vw;
    height: 80vh;
    font-size: .8rem;
  }
}

/* neon invite animação */
@keyframes neon{
    0%{
        -webkit-box-shadow: 0px 0px 34px 3px rgba(22,117,52,1);
        -moz-box-shadow: 0px 0px 34px 3px rgba(22,117,52,1);
        box-shadow: 0px 0px 34px 3px rgba(22,117,52,1);
    }
    25%{
        -webkit-box-shadow: 0px 0px 62px 3px rgb(166, 250, 144);
        -moz-box-shadow: 0px 0px 62px 3px rgb(166, 250, 144);
        box-shadow: 0px 0px 62px 3px rgb(166, 250, 144);
    }
    50%{
        -webkit-box-shadow: 0px 0px 62px 3px rgba(51,255,0,1);
        -moz-box-shadow: 0px 0px 62px 3px rgba(51,255,0,1);
        box-shadow: 0px 0px 62px 3px rgba(51,255,0,1);

    }
    75%{
        -webkit-box-shadow: 0px 0px 62px 3px rgba(60, 170, 32, 0.829);
        -moz-box-shadow: 0px 0px 62px 3px rgba(60, 170, 32, 0.829);
        box-shadow: 0px 0px 62px 3px rgba(60, 170, 32, 0.829);
    }
    100%{
        -webkit-box-shadow: 0px 0px 34px 3px rgba(22,117,52,1);
        -moz-box-shadow: 0px 0px 34px 3px rgba(22,117,52,1);
        box-shadow: 0px 0px 34px 3px rgba(22,117,52,1);
    }
}
/* letreiro */
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }