@import "../css/styled.css";





.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: url("../../assets/bg.jpg");
    background-size: cover;
}

.login-form{
    display: flex;
    max-width: 400px;
    min-width: 200px;
    width: 80%;
    flex-direction: column;
    background-color: var(--main-bg-nav-color);
    border-radius: 4px;
    -webkit-box-shadow: -3px 9px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 9px 25px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 9px 25px 0px rgba(0, 0, 0, 0.281);
}

.fieldset-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    border: none;
}
.fieldset-form input{
    margin: 8px;
    padding: 4px;
    font-size: .8rem;
    background-color: rgba(0, 0, 0, .1);
    color: rgba(255, 252, 252, 0.671);
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: -3px 9px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 9px 25px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 9px 25px 0px rgba(0, 0, 0, 0.534);
}
.fieldset-form input::placeholder{
    color:rgba(248, 248, 248, 0.781)
}
.fieldset-form input:focus{
    background-color:rgba(0, 0, 0, 0.281);
    border: 0 none;
    outline: 0;
}

.fieldset-form button:focus{
    border: 0 none;
    outline: 0;
    background-color: rgba(246, 247, 248, 0.527);
    color: rgba(0, 0, 0, 0.568);
}
.fieldset-form a button {
    background-color: rgba(0, 0, 0, 0.247);
    padding: 8px;
    padding-inline: 12px;
    color: rgba(255, 252, 252, 0.671);
    border-radius: 8px;
    margin-top: 6px;
    border: none;
    font-size: .8rem;
}